.wp-block-team-team-members{
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	@for $i from 1 to 6{
		&.has-#{$i}-columns{
			.wp-block-team-team-member{
				width: calc(100% / #{$i} - 20px);
			}
		}
	}
	.wp-block-team-team-member{
		margin: 10px;
		& h4{
			color: #222;
			font-size: 22px;
			font-weight: bold;
			margin: 0;
		}
		& p{
			color: #565656;
			font-size: 16px;
			font-weight: 300;
			margin-bottom: 5px;
		}

		& img{
			height: auto;
			max-width: 100%;
			margin-bottom: 20px;
		}
		.wp-block-team-team-member-social-links{
			& ul{
				list-style: none;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				margin: 15px -5px 0;
				
				li{
					margin: 5px;

					span.dashicon{
						color: #4e4e4e
					}

					a{
						text-decoration: none;
						background: none;
						border: none;
						padding: 0;
						cursor: pointer;
						margin: 0;
					}
				}
			}
		}			
	}

}
.wp-site-blocks, .editor-styles-wrapper{
	background-color: lightblue !important;
}

